In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.4.0)

In [11]:
import mysql.connector
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student")
db=database.cursor()

In [12]:
db.execute("SELECT * FROM student1")
result=db.fetchall()
for x in result:
    print(x)

(33, 36, 66, 88)
(33, 36, 66, 88)
(44, 45, 22, 22)
(44, 45, 22, 22)
(44, 45, 22, 22)
(44, 45, 22, 22)

In [13]:
sql='''INSERT INTO `student1` (`science`, `maths`, `english`, `nepali`) VALUES ('44', '45', '22', '22');'''
db.execute(sql)
database.commit()

In [22]:
n=int(input("Enter n="))
for i in range(1,n+1):
    name=input("Enter name=")
    physics=int(input("Enter physics marks="))
    english=int(input("Enter english marks="))
    maths=int(input("Enter maths marks="))
    nepali=int(input("Enter nepali marks="))
    total=physics+english+maths+nepali
    per=total/4
    if per>=80:
        grade='A'
    elif per>=60:
        grade='B'
    elif per>=40:
        grade='C'
    elif per>=28:
        grade='D'
    else:
        grade='F'
    sql=f'''INSERT INTO `student1`(`name`,`physics`,`english`,`maths`,`nepali`,`total`,`per`,`grade`)
    VALUES('{name}','{physics}','{english}','{maths}','{nepali}','{total}','{per}','{grade}')'''
db.execute(sql)
database.commit()

Enter n= 2
Enter name= Ram
Enter physics marks= 75
Enter english marks= 75
Enter maths marks= 75
Enter nepali marks= 75
Enter name= Sam
Enter physics marks= 75
Enter english marks= 75
Enter maths marks= 75
Enter nepali marks= 75

ProgrammingError: Cannot operate on a closed database.